@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>ไม่พบชื่อผู้ใช้งานนี้</h1>

<p>โปรด Login ใหม่อีกครั้ง</p>

@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

<input type="button" value="Click me" onclick="window.location='/Login'">

@*@code {

    NavigationManager.NavigateTo("/Login");
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}*@

